@model appGabrielMontoya.Models.FondoMonetario

@{
    ViewData["Title"] = "Eliminar Fondo Monetario";
}

<h2>@ViewData["Title"]</h2>

<h4>¿Estás seguro que deseas eliminar este fondo monetario?</h4>
<dl class="row">
    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@Model.Nombre</dd>

    <dt class="col-sm-3">Descripción</dt>
    <dd class="col-sm-9">@Model.Descripcion</dd>

    <dt class="col-sm-3">Usuario</dt>
    <dd class="col-sm-9">@Model.Usuario.Nombre</dd>
</dl>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="FondoMonetarioId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
