@model appGabrielMontoya.Models.FondoMonetario

@{
    ViewData["Title"] = "Editar Fondo Monetario";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="FondoMonetarioId" />

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
