@model IEnumerable<appGabrielMontoya.Models.Deposito>

@{
    ViewData["Title"] = "Depósitos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Depósito</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Fondo Monetario</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha.ToShortDateString()</td>
                <td>@item.FondoMonetario.Nombre</td>
                <td>@item.Monto</td>
            </tr>
        }
    </tbody>
</table>
