@model appGabrielMontoya.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h2>@ViewData["Title"]</h2>

<h4>¿Estás seguro que deseas eliminar este usuario?</h4>
<dl class="row">
    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@Model.Nombre @Model.Apellido</dd>

    <dt class="col-sm-3">Correo</dt>
    <dd class="col-sm-9">@Model.Correo</dd>
</dl>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="UsuarioId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
